#include "/home/suki/.config/colors/xdefault"
urxvt.scrollBar: false
! add issues with bold and Unscii, tried to declare bold the same way as normal font but didn't fix it
! only fix that worked was:
! add this line
! unscii "-unscii-unscii-medium-r-normal-full-16-160-75-75-c-80-iso10646-1"
! to the file
! /usr/share/fonts/misc/fonts.alias
urxvt.font: unscii
urxvt.boldFont: unscii

! Buffer save file
urxvt.print-pipe: cat > $HOME/tmp/$(echo urxvt.dump.$(date +'%s'))

! Buffer history size
urxvt.saveLines: 9999

! Make links clickable from urxvt
urxvt.perl-ext-common: default,matcher,selection-to-clipboard
urxvt.url-launcher: /usr/bin/chromium
urxvt.matcher.button: 1
urxvt.colorUL: grn

urxvt.internalBorder: 15

*.foreground: fg
*.background: bg
*.cursorColor: grn

! black
*.color0:	blk
*.color8:	bblk

! red
*.color1:	red
*.color9:	bred

! green
*.color2:	grn
*.color10:	bgrn

! yellow
*.color3:	ylw
*.color11:	bylw

! blue
*.color4:	blu
*.color12:	bblu

! magenta
*.color5:	mag
*.color13:	bmag

! cyan
*.color6:	cyn
*.color14:	bcyn

!white
*.color7:	wht
*.color15:	bwht

!rofi config
!rofi.font: artwiz lemon 8
rofi.font: Unscii Unscii 11
rofi.padding: 15
rofi.width: 20
rofi.disable-history: true
rofi.hide-scrollbar: true
rofi.columns: 1
rofi.lines: 5
rofi.bw: 4
rofi.separator-style: solid
rofi.color-window: bg, grn, grn

rofi.color-normal:	bg, fg, bg, bg, grn
